.leftnav h1 {
    text-decoration: underline;
}

/* Underline H1 topics */
h1 {
    text-decoration: underline!important;
  }
  
  /* Change font for entire site */
body {
  font-family: 'Georgia', sans-serif;
}

/* Optionally, change font for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', sans-serif;
}

a:hover {
    text-decoration: underline;
}


